<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=my_company"/>
        <listEntry value="artifactId=Hotel_Reservations"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=my_company.Hotel_Reservations"/>
        <listEntry value="outputDirectory=C:\Users\Сема Яшарова\OneDrive\Документи\Eclipse Projects"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\1723~1\AppData\Local\Temp\m2e-archetypeGenerator1483925949694004389"/>
</launchConfiguration>
